<dom-module id="cells-jhony-dashboard-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-jhony-dashboard; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

:host .fontl {
  font-weight: bold;
  color: #6e0909; }

:host .migato {
  width: 180px;
  height: 150px; }

:host .centerdiv {
  text-align: center; }

:host .cards-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap; }

:host .card-data {
  width: 20%;
  height: 450px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 30px;
  display: inline-block; }

:host .card {
  margin: 24px;
  padding: 16px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

:host .algo {
  border: 2px solid red;
  border-radius: 4px; }

  :host .center{
    text-align:center;
  }

</style></template></dom-module>