<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-jhony-dashboard-styles.html">
<link rel="import" href="bower_components/cells-mocks-component/cells-mocks-component.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<dom-module id="cells-jhony-dashboard">
  <script src="cells-jhony-dashboard.js"></script>
</dom-module>